<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <meta charset="UTF-8">
  <title>Login Page</title>

</head>

<body>
  <div class="signin">
    <div class="back-img">
    </div>
    <!--/.back-img-->
    <div class="form-section">
      <div>
        <h1>Iniciar Sesión</h1>
        <form method="POST">
          <!--Email-->
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input type="text" id="sample3" name="username" placeholder="Nombre de Usuario">
          </div>
          <br />
          <br />
          <!--Password-->
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input pattern=".{8,}" type="password" id="sample3" name="password" placeholder="Contraseña">
          </div>
          <br />
          {% if incorrect == True %}
          <p style="color:red"> Usuario o Contraseña incorrectos </p>
          {% elif invalid_user == True %}
          <p style="color:red"> Tu no eres {{username}} </p>
          {% endif %}
          <p class="forgot-text">Aun No tienes Cuenta? <a href="#">Registrate</a></p>
          <!--CheckBox-->
          <button type="submit"
            class="sign-in-btn">
            Sign In
          </button>
          <!--/button-->
        </form>
      </div>
      <br>

    </div>
    <!--/.form-section-->

  </div>
  <!--/.signin-->
</body>

</html>